body {
  height: 1000vh;
  margin: 50px;
}
span {
  background-color: yellowgreen;
  padding: 5px;
  border-radius: 10px;
}
p span {
  color: white;
}
div > span {
  text-decoration: underline;
}
p + span {
  text-decoration: underline;
}
p ~ span {
  text-decoration: underline;
}
